/* Add your CSS styles here */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    background-image: url('istockphoto-1265965042-612x612.jpg');
    background-position: center;
    background-size: cover;
}

.calculator {
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
}

.display {
    text-align: right;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #005fa9;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
